<ion-content>
  <div class="avatar-container-login">
    <img src="/assets/images/logo-strappberry 2.png" alt="" />
  </div>

  <div class="form-container-login">
    <div class="container-fancy"></div>
    <ion-grid [formGroup]="form">
      <ion-row>
        <ion-input
          class="inputs-app"
          type="text"
          placeholder="Nombre"
          formControlName="name"
        ></ion-input>
      </ion-row>
      <ion-row>
        <p
          ion-text
          class="text08 space-left"
          *ngIf="errorControl('name') && controlTouched('name')"
        >
          <ion-text color="warning"> Campo requerido </ion-text>
        </p>
      </ion-row>

      <ion-row>
        <ion-input
          class="inputs-app"
          type="email"
          placeholder="Email"
          formControlName="email"
        ></ion-input>
      </ion-row>
      <ion-row>
        <p
          ion-text
          class="text08 space-left"
          *ngIf="errorControl('email') && controlTouched('email')"
        >
          <ion-text color="warning"> Campo requerido </ion-text>
        </p>
      </ion-row>
      <ion-row>
        <p
          ion-text
          class="text08 space-left"
          *ngIf="errorControl('email', 'email') && controlTouched('email')"
        >
          <ion-text color="warning"> Verifica tu email </ion-text>
        </p>
      </ion-row>

      <ion-row>
        <ion-input
          class="inputs-app"
          type="password"
          placeholder="Contraseña"
          formControlName="password"
        ></ion-input>
      </ion-row>

      <ion-row>
        <p
          ion-text
          class="text08 space-left"
          *ngIf="errorControl('password') && controlTouched('password')"
        >
          <ion-text color="warning"> Campo requerido </ion-text>
        </p>
      </ion-row>
      <ion-row>
        <ion-input
          class="inputs-app"
          type="password"
          placeholder="Confirmar contraseña"
          formControlName="passwordConfirm"
        ></ion-input>
      </ion-row>
      <ion-row>
        <p
          ion-text
          class="text08 space-left"
          *ngIf="errorControl('passwordConfirm') && controlTouched('passwordConfirm')"
        >
          <ion-text color="warning"> La contraseña no coincide </ion-text>
        </p>
      </ion-row>
      <ion-row class="ion-justify-content-end">
        <ion-button
          class="button-log"
          expand="block"
          [strong]="true"
          size="default"
          type="submit"
          (click)="submitForm()"
          >Registrarse</ion-button
        >
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<!-- Footer without a border -->
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="container-footer">
      <ion-text> ¿Ya tienes cuenta? </ion-text>
      <a href="/login">
        <ion-text> Inicia sesión</ion-text>
      </a>
    </div>
  </ion-toolbar>
</ion-footer>
