<app-header [type]="'back-location'"></app-header>

<ion-content>
  <ion-row>
    <div class="detail-product-image-container">
      <img src="./assets/images/lg-mac.png" />
    </div>
  </ion-row>
  <ion-row>
    <div class="detail-product-text-container">
      <div class="detail-title-sub">
        <ion-text class="fw700 text08">Macbook M1</ion-text>
        <ion-text class="fw700 text13">$140</ion-text>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima,
        possimus reprehenderit distinctio repudiandae vero debitis. Vel laborum
        aliquid magni eius doloribus, incidunt sequi consequuntur eaque nemo
        harum sit unde aperiam!
      </p>
    </div>
  </ion-row>
  <app-button-submit [text]="'Agregar al carrito'"></app-button-submit>
</ion-content>
