<app-header-admin [title]="title"></app-header-admin>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let item of items">
      <app-item-admin
        [type]="'item-cart'"
        [title]="item.name"
        [price]="item.price"
        class="custom-item-admin"
        [product]="item"
      ></app-item-admin>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="redirectToCreateItem()">
      <ion-icon name="add" class="fw700 text17"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
